<h4 style='text-align: center'>Day <span id='dayNumber'></span></h4>
<button class='btn btn-default' id='addDay'>Add Day</button>
<button class='btn btn-warning' id='removeDay'>Remove Day</button>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills' id='dayPicker'>
      <li>
        <a href='/'>
          One
        </a>
      </li>
      <li>
        <a href='/'>
          Two
        </a>
      </li>
      <li class='active'>
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
    <h4>Hotels</h4>
    <ul id='dayHotels' class='list-group'>
      <li class='list-group-item'>foo</li>
    </ul>
    <h4>Restaurants</h4>
    <ul id='dayRestaurants' class='list-group'>
      <li class='list-group-item'>bar</li>
    </ul>
    <h4>Activities</h4>
    </ul>
    <ul id='dayActivities' class='list-group'>
      <li class='list-group-item'>bazz</li>
    </ul>
    </ul>
  </div>
</div>
